/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --page-font-family: 'Inter', sans-serif;
    --page-accent-font-family: 'Press Start 2P', serif;
    --page-font-weight: 400;
    --heading-font-weight: 700;
    --text-color: #000000;
    --light-text-color: #ffffff;
    --section-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --border-size: 2px;
    --page-background-color: #ffffff;
    --page-background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

    /* Переменные для иконки сердца*/
    --contour-color: black;
    --main-body-color: none;
    --core-color: none;
    --sparks-color: none;
    --animation-fill-color: #FF0000;
}
